*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color: white;
}
.content{
    width: 60%;
    margin: 10px auto;
}
header h1, h2{
    margin-bottom: 20px;
    margin-top: 20px;
}
code{
    background-color: gray;
    padding: 40px;
    text-align: center;
}
.codeSnippet{
    display: flex;
    flex-direction: column;
    width: 60%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    cursor: pointer;
}